.app{
    display: grid; 
    width: 500px;
    margin: 0 auto;
    grid-template-columns:25% 25% 25% 25%;
    grid-template-rows:50px repeat(5,30px);
    grid-template-areas:
    "res res res res"
    "7 8 9 reset" 
    "4 5 6 reset"
    "1 2 3 reset"
    "0 dot plus minus"
    "equal equal times div";
    border: 2px solid crimson;
    border-radius: 4px;
}
body{
    background-color: #ccc;
}
h3{
    text-align: right;
    margin: 0  10px 0 0;
    padding-bottom: 15px;
    font-size: 2rem;
    grid-area: res;
}
button{
    background-color: teal;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s ease;
}
button:hover{
    background-color: rgb(8, 168, 168);
}
#equal{
    grid-area: equal;
}
#clear{
    grid-area: reset;
}